.btn {
  border: none;
  font-size: 1.6rem;
  color: var(--color-white);
  background-image: linear-gradient(
    to right,
    var(--color-lime-green),
    var(--color-bright-cyan)
  );
  padding: 1.4rem 3.2rem;
  border-radius: 100px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover,
.btn:active {
  background-image: linear-gradient(
    to right,
    rgba(#31d35c, 0.6),
    rgba(#2bb7da, 0.6)
  );
}
